<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%date{ISO8601}] [%logger]: %msg%n</pattern>
            <!-- %X{akkaSource} -->
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="ERROR" />
    <logger name="org.apache.thrift" level="ERROR"/>
    <logger name="org.apache.cassandra.db.SystemKeyspace" level="ERROR"/>

    <logger name="org.apache.spark.storage.BlockManager" level="ERROR" />
    <logger name="org.apache.hadoop" level="ERROR" />


    <logger name="com.datastax.killrweather" level="INFO" />
    <logger name="akka.cluster" level="DEBUG" />

    <logger name="com.datastax.driver" level="ERROR" />
    <!-- Change to INFO to see spark-cassandra-connector logging -->
    <logger name="com.datastax.spark" level="ERROR" />
    <!-- Change to INFO to see spark logging -->
    <logger name="org.apache.spark" level="ERROR" />
    <!-- Change to INFO to see kafka logging -->
    <logger name="kafka" level="ERROR" />

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
